.playerInfo{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-right: 50px;
}

.playerName{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.playerName::before{
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.playerInfo h1{
    color: #14213d;
}

.playerInfo h1 span{
    padding-left: 20px;
    color:#fca311;
    font-size: 0.8em;
}

.playerInfo .scores{
    margin-top: 20px;
    display: grid;
    grid-auto-rows: 200px;
    width: 100%;
    height: auto;
}

.playerInfo .scores > div{
    position: relative;
}

.playerInfo .scores > div:nth-child(1):after,
.playerInfo .scores > div:nth-child(2):after,
.playerInfo .scores > div:nth-child(3):after,
.playerInfo .scores > div:nth-child(4):after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #ccc;
}

.playerInfo .scores div p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    color: #fca311;
    font-size: 1.1em;
    font-weight: 400;
}

.playerInfo .scores div:nth-child(4) p,
.playerInfo .scores div:nth-child(5) p{
    color: #14213d;
}

.playerInfo .scores div div {
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4em;
}

/* .playerInfo .scores div div {
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4em;
} */

.roundPoint {
    padding-bottom: 20px;
    width: 100%;
    height: 65vh;
    /* background: #fca311; */
}

.roundPoint .roundChart {
    width: 100%;
    height: 70%;
}

.roundPoint select{
    margin-bottom: 10px;
    min-width: 100px;
    padding: 5px 0;
    text-align: center;
    font-size: 1em;
    outline: none;
    color:#14213d;
    border: 2px solid rgb(253, 163, 18);
    background: rgba(253, 163, 18, 0.4);
    border-radius: 5px;
}